{% extends 'base-panel.html' %}

{% set heading = 'Account' %}

{% block canvas %}
  <form class="form-horizontal" id="form" role="form">
    <div class="form-group">
      <label class="col-xs-3 control-label" for="email">Email Address</label>
      <div class="col-xs-8">
        <input type="email" id="email" class="form-control" name="email" value="{{ email }}" disabled required autofocus>
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-3 control-label" for="dob">Date of birth</label>
      <div class="col-xs-5">
        <input type="date" id="dob" class="form-control" name="dob" value="{{ dob }}" disabled>
      </div>
    </div>
  </form>
{% endblock %}

{% block buttons %}
  <div class="col-xs-12">
    <br>
    <button type="button" class="btn btn-danger btn-sm" id="cancel">Cancel Membership</button>
    &nbsp;
    <button class="btn btn-info" id="change-password">Change Password</button>
  </div>
{% endblock %}

{% block scripts %}
  <script language="javascript">
    angular.module('app', [])
    .controller('ctrl', function($scope, $http) {
    });

    $('#cancel').click( function(e) {
      if (confirm("Are you sure you want to cancel your membership? This action cannot be undone!"))
        window.location = "/cancelled";
      return false;
    });
    $('#change-password').click( function(e) {
      window.location = "/changepassword";
      return false;
    });
  </script>
{% endblock %}
