{% extends 'base-panel.html' %}

{% set partial = 8 %}

{% set heading = 'Change Password' %}

{% block canvas %}
  <form class="form-horizontal" id="form" role="form">
    <div class="form-group">
      <label class="col-xs-3 control-label" for="password">New password</label>
      <div class="col-xs-8">
        <input type="password" id="password" class="form-control" name="password" value="" required autofocus>
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-3 control-label" for="password2">Repeat password</label>
      <div class="col-xs-8">
        <input type="password" id="password2" class="form-control" name="password2" value="" required>
      </div>
    </div>
  <div class="col-xs-12 alert alert-info">
    Your password needs to be a minimum of 8 charatcers.
  </div>
    <div class="col-xs-12">
      <br>
      <button type="submit" class="btn btn-success">Update</button>
    </div>
  </form>
{% endblock %}

{% block scripts %}
  <script language="javascript">
    // Cookie handling
    function setCookie(cname,cvalue,exdays) {
      var d = new Date();
      d.setTime(d.getTime()+(exdays*24*60*60*1000));
      var expires = "expires="+d.toGMTString();
      document.cookie = cname + "=" + cvalue + "; " + expires + "; path=/";
    } 
    // Handle Update button
    $('#form').submit( function(e) {
      var password = $("#password").val();
      setCookie('password',password,14);
      data = {'password':password};
      // TODO md5 the password
      $.ajax({
        url: '/mlchangepassword',
        type: 'POST',
        data: data,
        error: function(jqXHR, textStatus, errorThrown) {
          jsShowError("There's a problem with your Internet connection.");
        },
        success: function(data) {
          if (data.error)
            jsShowError(data.error);
          else if (data.message)
            jsShowMessage(data.message);
        }
      });
      return false;
    });
  </script>
{% endblock %}
