{% extends 'template-panel.html' %}

{% import 'macros.html' as macros %}

{% set heading = 'Conversation with ' + (name or '') %}

{% block panel_header %}
  <div class="col-xs-12">
    <table border=0 style="width:100%;border-spacing:0px 0px;border-collapse:separate">
      {{ macros.member(www,action,nav,type,entry) }}
    </table>
  </div>
  <div class="col-xs-7 col-xs-offset-5" align="right" id="send_text_panel" hidden>
    <form class="form-horizontal" id="form_text" role="form">
      <div class="form-group">
        <div class="col-xs-12">
          <textarea class="form-control" rows="5" id="message" name="message" required maxlength="3000" ng-model="message"></textarea>
        </div>
      </div>
      <div class="col-xs-12">
        <button type="submit" class="btn btn-primary" id="send" ng-click="send()">Send</button>
        <button type="button" class="btn btn-default" id="cancel_text">Cancel</button>
      </div>
      <input type="number" value="{{ id }}" name="id" hidden>
    </form>
  </div>
  <div class="col-xs-7 col-xs-offset-5" align="right" id="send_photo_panel" hidden>
    <form class="form" id="form_photo" role="form" enctype="multipart/form-data">
      <div class="form-group">
        <label class="col-xs-3 control-label" for="file">Select photo</label>
        <div class="col-xs-9">
          <input type="file" id="file" class="form-control" name="file" required>
        </div>
      </div>
      <div class="col-xs-12">
        <br>
        <button type="submit" class="btn btn-primary">Upload</button>
        <button type="button" class="btn btn-default" id="cancel_photo">Cancel</button>
      </div>
      <input type="number" value="{{ id }}" name="id" hidden>
    </form>
  </div>
  <div class="col-xs-12" align="right" id="reply_panel">
    <button type="button" class="btn btn-info" id="reply">Message</button>
    <button type="button" class="btn btn-info" id="upload">Upload photo</button>
  </div>
  <div class="col-xs-12">
    <br>
  </div>
{% endblock %}

{% block panel %}
  <div ng-cloak ng-if="num_pages==0" align="left">
    <strong><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> No messages found.</strong>
  </div>
  <div ng-repeat="chunk in chunked" ng-show="page==$index">
    <div ng-repeat="message in chunk">
      <!-- Image Sent -->
      <table ng-cloak ng-if="message.sent && message.is_image" class="col-xs-12" border=0 style="width:100%;border-spacing:5px 0px;border-collapse:separate">
        <tr>
          <td width="40%">
            <br>
          </td>
          <td width="60%" valign="top">
            <div class="panel panel-info">
              <div class="panel-body">
                <table border=0 style="width:100%;border-spacing:5px 0px;border-collapse:separate">
                <tr>
                  <td width="100%" colspan=2 align="right" valign="top">
                    <img ng-src="{% raw %}{{message.message}}{% endraw %}">
                  </td>
                </tr>
                <tr>
                  <td ng-if="message.viewed" align="left">
                    <img src="{{ url_for('static', filename='tick2.jpg') }}" width="15px" height="10px">
                  </td>
                  <td align="right">
                    <em><small>{% raw %}{{message.time}}{% endraw %}</small></em>
                  </td>
                </tr>
                </table>
              </div>
            </div>
          </td>
        </tr>
      </table>
      <!-- Message Sent -->
      <table ng-cloak ng-if="message.sent && !message.is_image" class="col-xs-12" border=0 style="width:100%;border-spacing:5px 0px;border-collapse:separate">
        <tr>
          <td width="40%">
            <br>
          </td>
          <td width="60%" valign="top">
            <div class="panel panel-info">
              <div class="panel-body">
                <table border=0 style="width:100%;border-spacing:5px 0px;border-collapse:separate">
                <tr>
                  <td width="100%" colspan=2 align="right" valign="top">
                    <strong>{% raw %}{{message.message}}{% endraw %}</strong>
                  </td>
                <tr>
                  <td ng-if="message.viewed" align="left">
                    <img src="{{ url_for('static', filename='tick2.jpg') }}" width="15px" height="10px">
                  </td>
                  <td align="right">
                    <em><small>{% raw %}{{message.time}}{% endraw %}</small></em>
                  </td>
                </table>
              </div>
            </div>
          </td>
        </tr>
      </table>
      <!-- Image Received -->
      <table ng-cloak ng-if="!message.sent && message.is_image" class="col-xs-12" border=0 style="width:100%;border-spacing:5px 0px;border-collapse:separate">
        <tr>
          <td width="70%" valign="top">
            <div class="panel panel-info">
              <div class="panel-body">
                <table border=0 style="width:100%;border-spacing:5px 0px;border-collapse:separate">
                <tr>
                  <td width="100%" align="left" valign="top">
                    <img ng-src="{% raw %}{{message.message}}{% endraw %}">
                  </td>
                </tr>
                <tr>
                  <td align="left">
                    <em><small>{% raw %}{{message.time}}{% endraw %}</small></em>
                  </td>
                </tr>
                </table>
              </div>
            </div>
          </td>
          <td width="30%">
            <br>
          </td>
        </tr>
      </table>
      <!-- Message Received -->
      <table ng-cloak ng-if="!message.sent && !message.is_image" class="col-xs-12" border=0 style="width:100%;border-spacing:5px 0px;border-collapse:separate">
        <tr>
          <td width="70%" valign="top">
            <div class="panel panel-info">
              <div class="panel-body">
                <table border=0 style="width:100%;border-spacing:5px 0px;border-collapse:separate">
                <tr>
                  <td width="10%" rowspan=2 valign="top">
                    <a href="/member?nav={{ nav }}&id={{ entry.id_with }}"><img src="{{ url_for('static', filename=entry.image) }}" width="100%" style="min-width:50px"></a>
                  </td>
                  <td width="90%" colspan=2 align="left" valign="top">
                    <strong>{% raw %}{{message.message}}{% endraw %}</strong>
                  </td>
                <tr>
                  <td align="left">
                    <em><small>{% raw %}{{message.time}}{% endraw %}</small></em>
                  </td>
                </table>
              </div>
            </div>
          </td>
          <td width="30%" align="center">
            <div ng-if="message.spam">
              <span class="label label-danger">Potential spam!</span><br><br>
              <a href="http://images.google.com/searchbyimage?image_url={{ www }}{{ url_for('static', filename=entry.image) }}" target="_blank"><small>Search Google for this member</small></a>
            </div>
          </td>
        </tr>
      </table>
      <div ng-if="$first" align="center">
        {% set ad = 'publishers/' + publisher + '-banner.htm' %}
        {% include ad %}
        <br>
      </div>
    </div>
  </div>
{% endblock %}

{% block panel_footer %}
  <div class="col-xs-12" align="center">
    <br>
    <small>Please note messages are removed after 3 months.</small>
  </div>
{% endblock %}

{% block actions %}
  <div class="col-xs-12">
    <br>
    <button class="btn btn-info" id="favorite">Add to Favorites</button>
    &nbsp;
    <button class="btn btn-danger" id="block">Block</button>
    <button class="btn btn-danger" id="spam">Report Spam</button>
  </div>
{% endblock %}
    
{% block scripts %}
  <script language="javascript">
    angular.module('app', [])
    .controller('ctrl', function($scope, $http) {
      function chunk(arr, size) {
        var newArr = [];
        for (var i=0; i<arr.length; i+=size) {
          var s=arr.slice(i,i+size);
          newArr.push(s);
        }
        return newArr;
      }
      $scope.mkgrid = function(entries) {
        return chunk(entries, 20);
      }

      $scope.page = 0;
      $scope.max_pages = {{ num_pages }};
      $scope.entries = {{ entries|tojson|safe }};
      $scope.chunked = $scope.mkgrid($scope.entries);
      $scope.num_pages = $scope.chunked.length;

      // Handle Send Message button
      $scope.send = function(e) {
        $http.post('/mlsendemail', {message: $scope.message, id:{{ id }}}).
          success(function(data, status, headers, config) {
            if (data.error)
              jsShowError(data.error);
            else if (data.message) {
              jsShowMessage(data.message);
              $scope.entries.splice(0,0,data.entry);
              $scope.chunked = $scope.mkgrid($scope.entries);
              $scope.num_pages = $scope.chunked.length;
            }
          }).
          error(function(data, status, headers, config) {
            jsShowError("There's a problem with your Internet connection.");
          });
      }
    });

    // Handle Previous button
    $("#previous").click( function(e) {
      window.location = "/emailthread?nav={{ nav }}&id={{ id_previous }}";
    });
    // Handle Next button
    $("#next").click( function(e) {
      window.location = "/emailthread?nav={{ nav }}&id={{ id_next }}";
    });
    // Handle Message button
    $("#reply").click( function(e) {
      $("#reply_panel").hide();
      $("#send_text_panel").show();
    });
    // Handle Upload Photo button
    $("#upload").click( function(e) {
      $("#reply_panel").hide();
      $("#send_photo_panel").show();
    });
    // Handle Cancel button
    $("#cancel_text").click( function(e) {
      $("#reply_panel").show();
      $("#send_text_panel").hide();
    });
    // Handle Upload form button
    $("#form_photo").submit( function(e) {
      e.preventDefault();
      jsShowMessage('Photo uploading...');
      var formData = new FormData($(this)[0]);
      $.ajax({
        url: '/mlsendphoto',
        type: 'POST',
        data: formData,
        error: function(jqXHR, textStatus, errorThrown) {
          jsShowError("There's a problem with your Internet connection.");
        },
        success: function(data) {
          if (data.error)
            jsShowError(data.error);
          else if (data.message) {
            $("#file").replaceWith($("#file").clone());
            jsShowMessage(data.message);
            location.reload(true);
          }
        },
        cache: false,
        contentType: false,
        processData: false,
        async: false
      });
    });
    // Handle Cancel button
    $("#cancel_photo").click( function(e) {
      $("#reply_panel").show();
      $("#send_photo_panel").hide();
    });
    // Handle Add Favorite button
    $("#favorite").click( function(e) {
      $.ajax({
        url: '/mladdfavorite',
        type: 'POST',
        data: 'id={{ id }}',
        error: function(jqXHR, textStatus, errorThrown) {
          jsShowError("There's a problem with your Internet connection.");
        },
        success: function(data) {
          if (data.error)
            jsShowError(data.error);
          else if (data.message) {
            jsShowMessage(data.message);
            $("#favorite").prop('disabled',true);
          }
        }
      });
      return false;
    });
    // Handle Block button
    $("#block").click( function(e) {
      $.ajax({
        url: '/mlblock',
        type: 'POST',
        data: 'id={{ id }}',
        error: function(jqXHR, textStatus, errorThrown) {
          jsShowError("There's a problem with your Internet connection.");
        },
        success: function(data) {
          if (data.error)
            jsShowError(data.error);
          else if (data.message) {
            jsShowMessage(data.message);
            $("#block").prop('disabled',true);
          }
        }
      });
      return false;
    });
    // Handle Report Spam button
    $("#spam").click( function(e) {
      $.ajax({
        url: '/mlspam',
        type: 'POST',
        data: 'id={{ id }}',
        error: function(jqXHR, textStatus, errorThrown) {
          jsShowError("There's a problem with your Internet connection.");
        },
        success: function(data) {
          if (data.error)
            jsShowError(data.error);
          else if (data.message) {
            jsShowMessage(data.message);
            $("#spam").prop('disabled',true);
          }
        }
      });
      return false;
    });
  </script>
{% endblock %}
