{% extends 'base-panel.html' %}

{% set heading = 'Filter {{name}}' %}
{% set heading2 = 'Confirm your location' %}

{% block canvas %}
  <form class="form-horizontal" id="form" role="form" autocomplete="on">
    <div class="form-group">
      <label class="col-xs-3 control-label" for="sort">Sort by</label>
      <div class="col-xs-4">
      <select class="form-control" id="sort" name="sort">
        <option value="distance" {% if sort=="distance" %}selected{% endif %}>Distance</option>
        <option value="age"      {% if sort=="age"      %}selected{% endif %}>Age</option>
        <option value="login"    {% if sort=="login"    %}selected{% endif %}>Last login</option>
        <option value="created"  {% if sort=="created"  %}selected{% endif %}>Newest profile</option>
      </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-3 control-label" for="distance">Distance</label>
      <div class="col-xs-4">
        <select class="form-control" id="distance" name="distance">
          {% if metric %}
            <option value="5"   {% if distance==5 %}selected{% endif %}>5 kms</option>
            <option value="10"  {% if distance==10 %}selected{% endif %}>10 kms</option>
            <option value="30"  {% if distance==30 %}selected{% endif %}>30 kms</option>
            <option value="75"  {% if distance==75 %}selected{% endif %}>75 kms</option>
            <option value="150" {% if distance==150 %}selected{% endif %}>150 kms</option>
            <option value="300" {% if distance==300 %}selected{% endif %}>300 kms</option>
            <option value=""    {% if distance==0 %}selected{% endif %}>Worldwide</option>
          {% else %}
            <option value="8"   {% if distance==8 %}selected{% endif %}>5 miles</option>
            <option value="16"  {% if distance==16 %}selected{% endif %}>10 miles</option>
            <option value="32"  {% if distance==32 %}selected{% endif %}>20 miles</option>
            <option value="80"  {% if distance==80 %}selected{% endif %}>50 miles</option>
            <option value="161" {% if distance==161 %}selected{% endif %}>100 miles</option>
            <option value="322" {% if distance==322 %}selected{% endif %}>200 miles</option>
            <option value=""    {% if distance==0 %}selected{% endif %}>Worldwide</option>
          {% endif %}
        </select>
      </div>
    </div>
    <div class="form-group" id="group_location">
      <label class="col-xs-3 control-label" for="location">Location</label>
      <div class="col-xs-9">
      <input type="text" id="location" class="form-control" name="location" value="{{location}}" placeholder="{{default_location}}" autocomplete="off">
      </div>
    </div>
    <div class="form-group" hidden>
      <label class="col-xs-3 control-label" for="region">Region</label>
      <div class="col-xs-4">
      <select class="form-control" id="region" name="region">
        <option value="North America">North America</option>
        <option value="South America">South America</option>
        <option value="Europe"       >Europe</option>
        <option value="Africa"       >Africa</option>
        <option value="Asia"         >Asia</option>
        <option value="Australasia"  >Australasia</option>
      </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-3 control-label" for="age_min">Age from</label>
      <div class="col-xs-2">
        <input type="number" class="form-control" id="age_min" name="age_min" value="{{age_min|e}}" min="{{limit_age_min}}" max="{{limit_age_max}}" placeholder="{{default_age_min}}"/>
      </div>
      <label class="col-xs-1 control-label" for="age_max">to</label>
      <div class="col-xs-2">
        <input type="number" class="form-control" id="age_max" name="age_max" value="{{age_max|e}}" min="{{limit_age_min}}" max="{{limit_age_max}}" placeholder="{{default_age_max}}"/>
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-3 control-label" for="ethnicity_choice">Ethnicity</label>
      <div class="col-xs-4">
      <select multiple class="form-control" id="ethnicity_choice" name="ethnicity_choice">
        <option value="1"  {% if ethnicity_choice |bitcompare( 1) %}selected{% endif %}>White</option>
        <option value="2"  {% if ethnicity_choice |bitcompare( 2) %}selected{% endif %}>Black</option>
        <option value="4"  {% if ethnicity_choice |bitcompare( 4) %}selected{% endif %}>Latino</option>
        <option value="64" {% if ethnicity_choice |bitcompare(64) %}selected{% endif %}>Indian</option>
        <option value="8"  {% if ethnicity_choice |bitcompare( 8) %}selected{% endif %}>Asian</option>
        <option value="16" {% if ethnicity_choice |bitcompare(16) %}selected{% endif %}>Mixed</option>
        <option value="32" {% if ethnicity_choice |bitcompare(32) %}selected{% endif %}>Other</option>
      </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-3 control-label" for="height_min">Height from</label>
      <div class="col-xs-2">
        <input type="text" class="form-control" id="height_min" name="height_min" value="{{height_min|e}}" placeholder="{{default_height_min|e}}"/>
      </div>
      <label class="col-xs-1 control-label" for="height_max">to</label>
      <div class="col-xs-2">
        <input type="text" class="form-control" id="height_max" name="height_max" value="{{height_max|e}}" placeholder="{{default_height_max|e}}"/>
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-3 control-label" for="weight_choice">Body type</label>
      <div class="col-xs-4">
      <select multiple class="form-control" id="weight_choice" name="weight_choice">
        <option value="1"  {% if weight_choice |bitcompare( 1) %}selected{% endif %}>Slim</option>
        <option value="2"  {% if weight_choice |bitcompare( 2) %}selected{% endif %}>Athletic</option>
        <option value="4"  {% if weight_choice |bitcompare( 4) %}selected{% endif %}>Average</option>
        <option value="8"  {% if weight_choice |bitcompare( 8) %}selected{% endif %}>A few extra pounds</option>
        <option value="16" {% if weight_choice |bitcompare(16) %}selected{% endif %}>Large</option>
      </select>
      </div>
    </div>
    <div class="col-xs-12">
      <br>
      <button type="submit" class="btn btn-primary" id="results">Search</button>
    </div>
  </form>
{% endblock %}

{% block panel2 %}
  <ul class="nav nav-pills nav-stacked" id="locations">
  </ul>
  <div class="col-xs-12">
    <br>
    <button type="button" class="btn btn-default" id="cancel">Cancel</button>
  </div>
{% endblock %}

{% block scripts %}
  <script language="javascript">
    angular.module('app', [])
    .controller('ctrl', function($scope, $http) {
    });

    // Handle selection on distance field
    $(window).load(function() {
      if ($('#distance').val() == "") // Worldwide
        $('#group_location').hide();
      else
        $('#group_location').show();
    });
    $('#distance').change(function() {
      if ($(this).val() == "") // Worldwide
        $('#group_location').hide();
      else
        $('#group_location').show();
    });
    // Handle name matching (typeahead) on location field
    function preProcessMatches(data) {
      if (!data.matches)
        return false;
      if (data.matches.length == 1) {
        $("#location").blur();
        $("#location").val(data.matches[0]);
        return false;
      }
      var source = [];
      for (var i in data.matches)
        source.push({ id: data.matches[i], name: data.matches[i] });
      return source;
    }
    $("#location").typeahead({
      ajax: { 
        url: '/closestnames',
        triggerLength: 3,
        preProcess: preProcessMatches
      },
      matcher: function (item) { return true; }
    });
    $("#location").focusin( function(e) {
      e.preventDefault();
      $(this).select();
      return false;
    });
  //  $("#location").mouseup( function(e) {
  //    e.preventDefault();
  //    $(this).select();
  //    return false;
  //  });
    // Handle Search button
    $("#form").submit( function(e) {
      var success = false;
      $.ajax({
        url: '/mlfilter',
        type: 'POST',
        contentType: "application/json; charset=utf-8",
        data: $(this).serialize(),
        error: function(jqXHR, textStatus, errorThrown) {
          jsShowError("There's a problem with your Internet connection.");
        },
        success: function(data) {
          if (data.error)
            jsShowError(data.error);
          else if (data.matches) {
            var html = '';
            for (var i in data.matches)
              html = html.concat('<li><a>'+data.matches[i]+'</a></li>');
            $("#locations li").remove();
            $("#locations").append(html);
            $("#panel1").hide();
            $("#panel2").show();
          }
          else if (data.message)
            jsShowMessage(data.message);
          else
            success = true;
        },
        async: false
      });
      if (success) {
        window.location = '/results?per_page={{per_page}}';
      }
      return false;
    });
    $("#cancel").click( function(e) {
      e.preventDefault();
      $("#panel2").hide();
      $("#panel1").show();
      return false;
    });
    $("#locations").on('click', 'a', function(e) {
      e.preventDefault();
      $("#location").val($(this).text());
      $("#form").submit();
      return false;
    });
  </script>
{% endblock %}
