{% extends 'base-panel.html' %}

{% set partial = 8 %}

{% set heading = 'Forgot Password' %}

{% block canvas %}
  <form class="form-horizontal" id="form" role="form">
    <div class="form-group">
      <label class="col-xs-3 control-label" for="email">Enter your email</label>
      <div class="col-xs-8">
        <input type="email" id="email" class="form-control" name="email" value="" required autofocus>
      </div>
    </div>
    <div class="col-xs-12">
      <br>
      <button type="submit" class="btn btn-success">Send</button>
    </div>
  </form>
{% endblock %}

{% block scripts %}
  <script language="javascript">
    // Handle generic ajax response
    function handleSuccess(data) {
      if (data.error)
        jsShowError(data.error);
      else if (data.message)
        jsShowMessage(data.message);
    }
    // Handle Update button
    $("#submit").click(function(e) {
      $.ajax({
        url: '/mlforgotpassword',
        type: 'POST',
        contentType: "application/json; charset=utf-8",
        data: form.serialize(),
        error: function(jqXHR, textStatus, errorThrown) {
          jsShowError("There's a problem with your Internet connection.");
        },
        success: handleSuccess
      });
      return false;
    });
  </script>
{% endblock %}
