{% extends 'template-panel.html' %}

{% set partial = 8 %}

{% set heading = 'Existing members login here' %}

{% block panel %}
  <form class="form-horizontal" id="form" role="form">
    <div class="form-group">
      <label class="col-xs-3 control-label" for="email">Email Address</label>
      <div class="col-xs-8">
        <input type="email" class="form-control" id="email" name="email" placeholder="email address" required autofocus>
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-3 control-label" for="password">Password</label>
      <div class="col-xs-8">
        <input type="password" class="form-control" id="password" name="password" placeholder="password" required>
      </div>
    </div>
    <div class="col-xs-12">
      <br>
      <button type="submit" class="btn btn-primary" id="login">Login</button>
    </div>
  </form>
{% endblock %}

{% block actions %}
  <div class="col-xs-12">
    <br>
    <a id="reminder">Forgotten password?</a>
  </div>
  <div class="col-xs-12">
    <br>
    <a id="register">Not registered yet?</a>
  </div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    // Cookie handling
    function setCookie(cname,cvalue,exdays) {
      var d = new Date();
      d.setTime(d.getTime()+(exdays*24*60*60*1000));
      var expires = "expires="+d.toGMTString();
      document.cookie = cname + "=" + cvalue + "; " + expires + "; path=/";
    } 
    function getCookie(cname) {
      var name = cname + "=";
      var ca = document.cookie.split(';');
      for (var i=0; i<ca.length; i++) {
        var c = ca[i].trim();
        if (c.indexOf(name)==0)
          return c.substring(name.length,c.length);
      }
      return "";
    }
    // Handle submit of login form
    var redirect = "{{ (redirect or '')|safe }}";
    $("#form").submit( function(e) {
      $("#email").val($("#email").val().replace(/\s+/g, ''));
      setCookie('email',$("#email").val(),14);
      setCookie('password',$("#password").val(),14);
      $.ajax({
        url: '/mllogin',
        // data sent using cookies
        error: function(jqXHR, textStatus, errorThrown) {
          jsShowError("There's a problem with your Internet connection.");
        },
        success: function(data) {
          if (data.error)
            jsShowError(data.error);
          else if (data.code == 1001)
            window.location = "/notverified?email="+encodeURIComponent($("#email").val());
          else if (data.id) {
            setCookie('id',data.id,14);
            if (redirect.length)
              window.location = redirect;
            else
              window.location = "/dashboard";
          }
        },
        async: false
      });
      return false;
    });
    // Handle password reminder button
    $("#reminder").click( function(e) {
      e.preventDefault();
      $.ajax({
        url: '/mlpassword',
        type: 'POST',
        data: ({'email':$("#email").val()}),
        error: function(jqXHR, textStatus, errorThrown) {
          jsShowError("There's a problem with your Internet connection.");
        },
        success: function(data) {
          if (data.error)
            jsShowError(data.error);
          else if (data.message)
            jsShowMessage(data.message);
        }
      });
      return false;
    });
    // Handle register button
    $("#register").click( function(e) {
      e.preventDefault();
      window.location = "/register";
      return false;
    });
  </script>
{% endblock %}
