{% extends 'base-panel.html' %}

{% import 'macros.html' as macros %}

{% set heading = 'Your local matches' %}

{% block canvas %}
  <div class="col-xs-12 alert alert-info" align="left">
    Filter: {{ criteria|e }}
  </div>
  <div ng-cloak ng-if="num_pages==0" class="col-xs-12 alert alert-warning" align="left">
    <strong><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> None found.</strong>
  </div>
{% endblock %}

{% block list %}
  <table class="table" border=0 style="width:100%;border-spacing:0px 0px;border-collapse:separate">
    <tr ng-repeat="entry in entries" member entry="entry" index="$index" class="profile"/>
  </table>
{% endblock %}

{% block scripts %}
  <script language="javascript">
    angular.module('app', [])
    .controller('ctrl', function($scope, $http) {
      // Find an entry from its profile id
      function findentry(entries, id) {
        for (var i=0; i<entries.length; i+=1) {
          var entry = entries[i];
          if (entry.id == id) return entry;
        }
        return null;
      }

      // Set a new page
      function setPage(page) {
        $scope.page = page;
        window.location = '/matches?page='+page+'&per_page='+{{per_page}};
      }

      $scope.action = '{{ action }}';
      $scope.nav = '{{ nav }}';
      $scope.type = '{{ type }}';
      $scope.per_page = {{per_page}};
      $scope.page = {{page}};
      $scope.entries = {{ (entries or [])|tojson|safe }};
      $scope.num_pages = {{((total+(per_page-1))/per_page)|int}};
      $scope.pages = new Array($scope.num_pages).fill('').map((val,i)=>i);
      $scope.sels = [];

      // Handle Page buttons
      $scope.tab = function(page) {
        setPage(page);
      }

      // Handle Previous Page button
      $scope.prev = function() {
        if ($scope.page <= 0) return;
        setPage($scope.page - 1);
      }

      // Handle Next Page button
      $scope.next = function() {
        if ($scope.page >= $scope.num_pages-1) return;
        setPage($scope.page + 1);
      }
    })
    .directive('member', function($parse) {
      return {
        link: function(scope,elem,attrs) {
          scope.entry = $parse(attrs.entry)(scope);
        },
        templateUrl: '/static/ng-templates/member.html'
      }
    });
  </script>
{% endblock %}
