{% extends 'base-panel.html' %}

{% set partial = 8 %}

{% set heading = 'Reset password' %}

{% block canvas %}
  <form class="form-horizontal" id="form" role="form">
    <div class="form-group">
      <label class="col-xs-3 control-label" for="email">Email Address</label>
      <div class="col-xs-8">
        <input type="email" class="form-control" id="email" name="email" placeholder="email address" required autofocus>
      </div>
    </div>
    <div class="col-xs-12">
      <br>
      <button type="submit" class="btn btn-primary" id="reset">Reset password</button>
    </div>
  </form>
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    // Handle reset password button
    $("#reset").click( function(e) {
      e.preventDefault();
      $.ajax({
        url: '/mlpassword',
        type: 'POST',
        data: ({'email':$("#email").val()}),
        error: function(jqXHR, textStatus, errorThrown) {
          jsShowError("There's a problem with your Internet connection.");
        },
        success: function(data) {
          if (data.error)
            jsShowError(data.error);
          else if (data.message)
            jsShowMessage(data.message);
        }
      });
      return false;
    });
  </script>
{% endblock %}
