{% extends 'base-panel.html' %}

{% set partial = 8 %}

{% set heading = 'Reset Password' %}

{% block canvas %}
  <form class="form-horizontal" id="form" role="form">
    <div class="form-group">
      <label class="col-xs-3 control-label" for="password">New password</label>
      <div class="col-xs-8">
        <input type="password" id="password" class="form-control" name="password" value="" required autofocus>
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-3 control-label" for="password2">Repeat password</label>
      <div class="col-xs-8">
        <input type="password" id="password2" class="form-control" name="password2" value="" required>
      </div>
    </div>
  <div class="col-xs-12 alert alert-info">
    Your password needs to be a minimum of 8 characters.
  </div>
    <div class="col-xs-12">
      <br>
      <button type="submit" class="btn btn-success">Update</button>
    </div>
  </form>
{% endblock %}

{% block buttons %}
  <div class="col-xs-12">
    <br>
    <button class="btn btn-primary" id="login" autofocus>Login</button>
  </div>
{% endblock %}

{% block scripts %}
  <script language="javascript">
    // Handle Update button
    $('#form').submit( function(e) {
      e.preventDefault();
      var password = $("#password").val();
      //setCookie('password',password,14);
      data = {'uuid':"{{uuid}}",'email':"{{email}}",'password':password};
      $.ajax({
        url: '/mlresetpassword',
        type: 'POST',
        contentType: "application/json; charset=utf-8",
        data: data,
        error: function(jqXHR, textStatus, errorThrown) {
          jsShowError("There's a problem with your Internet connection.");
        },
        success: function(data) {
          if (data.error)
            jsShowError(data.error);
          else if (data.message) {
            jsShowMessage(data.message);
            //window.location = "/login";
          }
        }
      });
      return false;
    });
    // Handle Login button
    $("#login").click(function(e) {
      window.location = "/login";
      return false;
    });
  </script>
{% endblock %}
