{% extends 'template.html' %}

{% block canvas %}
  {% if partial %}
    <div class="col-md-{{ partial }} col-md-offset-{{ ((12-partial)/2)|int }} col-xs-12">
  {% endif %}
  <div class="panel panel-{{ heading_type or 'default' }}" id="panel1">
    <div class="panel-heading">
      <table border=0 style="width:100%;border-spacing:0px 0px;border-collapse:separate">
        <tr>
          <td align="left"><h4>{{ heading|e }}</h4>
          </td>
          <td><h4>&nbsp;</h4>
          </td>
          {% if id_previous or id_next %}
            <td align="right"><span class="btn-group"><button class="btn" id="previous" {% if not id_previous %}disabled{% endif %}><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Previous</button> <button class="btn" id="next" {% if not id_next %}disabled{% endif %}>Next <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button></span>
            </td>
          {% endif %}
        </tr>
      </table>
    </div>
    {% if error or not no_panel %}
      <div class="panel-body">
        {% if error %}
        <div class="col-xs-12 alert alert-danger">
          <strong><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {{ error }}</strong>
        </div>
      {% else %}
        {% block panel_header %}
        {% endblock %}
        {% block panel %}
        {% endblock %}
        {% block panel_footer %}
        {% endblock %}
      {% endif %}
      </div><!-- panel-body -->
    {% endif %}

    {% block list %}
    {% endblock %}

    {% block actions %}
    {% endblock %}
  </div><!-- panel -->

  <div ng-cloak ng-if="num_pages>1" align="center" id="pagetabs">
    <ul class="pagination">
      <li ng-click="prev()" ng-disabled="page==0"><span>&laquo;</span></li>
      <li ng-repeat="chunk in chunked" ng-class="{active:page==$index}" ng-click="tab($index)"><span>{% raw %}{{$index+1}}{% endraw %}</span></li>
      <li ng-click="next()" ng-disabled="page==num_pages-1"><span>&raquo;</span></li>
    </ul>
  </div>

  {% if partial %}
    </div>
  {% endif %}

  {% if heading2 %}
    {% if partial %}
      <div class="col-md-{{ partial }} col-md-offset-{{ ((12-partial)/2)|int }} col-xs-12">
    {% endif %}

    <div class="panel panel-info" id="panel2" hidden>
      <div class="panel-heading"><h4>{{ heading2|e }}</h4></div>
      <div class="panel-body">
        {% block panel2 %}
        {% endblock %}
      </div><!-- panel-body -->
    </div>

    {% if partial %}
      </div>
    {% endif %}
  {% endif %}

  {% block scripts %}
  {% endblock %}
{% endblock %}
